.panel:nth-child(odd) {
    background: #E6E5E6;
}

.color-block {
    height: 80px;
}

.example-grid div[class*=col-] div {
  background: #fafafa;
  padding: 5px;
  margin-bottom: 1rem;
}

.center-outer {
    display: flex;
    justify-content: center;
}

.center-inner {
    align-self: center;
}
