.heading-info {
    font-size: 1.3rem;
}

.panel:nth-child(odd) {
    background: #E6E5E6;
}

.panel:first-child {
    background: #5983a7;
}

.color-block {
    height: 8rem;
}

.example-grid div[class*=col-] div {
  background: #fafafa;
  padding: .5rem;
  margin-bottom: 1rem;
}

.center-outer {
    display: flex;
    justify-content: center;
}

.center-inner {
    align-self: center;
}
