.heading-info {
    font-size: 1.2rem;
    color: #999;
    letter-spacing: normal;
}

.color-block {
    height: 80px;
}

.example-grid div[class*=col-] {
  background: #fafafa;
  padding: 5px;
  border: 3px solid white;
}
