body {
    padding-bottom: 5rem;
}

.page-title {
    margin-top: 5rem;
}

.page-header {
    margin-top: 5rem;
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: 2.5rem;
}

.example-grid div[class*=col-] div { 
    background: rgb(240, 240, 240); 
    padding: .5rem; 
    margin-bottom: 1rem; 
} 

.swatch {
    padding-top: 5rem;
    padding-bottom: 5rem; 
    border: 1px solid rgb(230, 230, 230);
    margin-bottom: 3rem;
}

.swatch h4 {
    margin: 0;
}