// Import
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* utilities */
@import "normalize.css/normalize";

/* bootstrap grid */
@import "bootstrap/scss/mixins/breakpoints";
@import "bootstrap/scss/mixins/grid";
@import "bootstrap/scss/mixins/grid-framework";
@import "bootstrap/scss/grid";

/* system wide mixins & functions */
@import "utility/functions";
@import "utility/mixins";

/* core styling */
@import "core";

/* core building blocks */
@import "core/anchor";
@import "core/button";
@import "core/code";
@import "core/cursor";
@import "core/form";
@import "core/hr";
@import "core/list";
@import "core/spacing";
@import "core/table";
@import "core/typography";

/* main helpers */
@import "utility/color";
@import "utility/helpers";
@import "utility/spacing";
@import "utility/visibility";

/* site module */
@import "module/layout";
