// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// The default font family.
// $font-family: "Roboto", sans-serif !default;
$font-family: "Open Sans", sans-serif !default;



// The font sizes for h1-h6.
$h1-font-size:        3.6rem !default; 
$h2-font-size:        3rem !default; 
$h3-font-size:        2.4rem !default; 
$h4-font-size:        1.8rem !default; 
$h5-font-size:        1.4rem !default; 
$h6-font-size:        1.2rem !default; 



// Breakpoints
$breakpoints: (
        xs: 0,
        sm: 544px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;



// Bootstrap Grid Variables
$enable-grid-classes: true !default;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
) !default;

$grid-columns:               12 !default;
$grid-gutter-width-base:     30px !default;
$grid-gutter-widths: (
        xs: $grid-gutter-width-base,
        sm: $grid-gutter-width-base,
        md: $grid-gutter-width-base,
        lg: $grid-gutter-width-base,
        xl: $grid-gutter-width-base
) !default;



// Colors
// all colors creates the following helpers for background and color:
// ie: .b-white and .c-white 
$colors: (
        white:          white,
        black:          black,
        primary:          rgb(51, 195, 240),
        secondary:        rgb(183, 177, 177),
        alabaster:        rgb(250, 250, 250),
) !default;



// defined colors used in core
$body-background:         map-get($colors, white);
$font-color:              rgb(51, 51, 51);
$link-color:              map-get($colors, primary);
$border-color:            rgb(230, 230, 230);
$input-background:        map-get($colors, white);



// buttons name: (background colour) (font colour)
// button classes created: .button-primary, .button-secondary
$buttons: (
        primary:        map-get($colors, primary)      map-get($colors, white),
        secondary:      map-get($colors, secondary)    map-get($colors, white)
) !default;



// Misc
$global-radius: 4px !default;
$table-cell-padding: .85rem .85rem !default;



// padding & margins
// examples at 1rem:
// padding: .p-1, px-1, py-1 .pl-1, .pt-1, .pr-1, .pb-1
// margin: .m-1, mx-1, my-1 .ml-1, .mt-1, .mr-1, .mb-1
$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
        '0': (x: 0, y: 0),
        'h': (x: ($spacer-x * 0.5), y: ($spacer-y * 0.5)),
        '1': (x: $spacer-x, y: $spacer-y),
        '1h': (x: ($spacer-x * 1.5), y: ($spacer-y * 1.5)),
        '2': (x: ($spacer-x * 2), y: ($spacer-y * 2)),
        '2h': (x: ($spacer-x * 2.5), y: ($spacer-y * 2.5)),
        '3': (x: ($spacer-x * 3), y: ($spacer-y * 3)),
        '4': (x: ($spacer-x * 4), y: ($spacer-y * 4)),
        '5': (x: ($spacer-x * 5), y: ($spacer-y * 5)),
        '8': (x: ($spacer-x * 8), y: ($spacer-y * 8)),
        '10': (x: ($spacer-x * 10), y: ($spacer-y * 10)),
) !default;
