@mixin appearance($prop) {
    -webkit-appearance: $prop;
    -moz-appearance: $prop;
    appearance: $prop;
}

@mixin clearfix() {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
