// Form
//––––––––––––––––––––––––––––––––––––––––––––––––––

textarea,
select {
    height: 3.8rem;
    padding: .6rem 1rem;
    background-color: $input-background;
    border: 1px solid $border-color;
    border-radius: $global-radius;
    box-shadow: none;
    box-sizing: border-box;
}

// Removes awkward default styles on some inputs for iOS
input {
    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="text"],
    &[type="date"],
    &[type="tel"],
    &[type="url"],
    &[type="password"] {
        appearance: none;
    }
}

textarea {
    appearance: none;
    min-height: 10rem;
    padding: .6rem 1rem;
}

input {
    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="text"],
    &[type="date"],
    &[type="tel"],
    &[type="url"],
    &[type="password"] {
        height: 3.8rem;
        padding: .6rem 1rem;
        background-color: $input-background;
        border: 1px solid $border-color;
        border-radius: $global-radius;
        box-shadow: none;
        box-sizing: border-box;
        &:focus {
            border: 1px solid color(primary);
            outline: 0;
        }
    }
}

textarea:focus,
select:focus {
    border: 1px solid color(primary);
    outline: 0;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input {
    &[type="checkbox"],
    &[type="radio"] {
        display: inline;
    }
}

// Radio and checkboxes
.checkbox-inline,
.radio-inline {
    margin-bottom: 1.5rem;
    label {
        display: inline;
    }
}

label .checkbox-label,
label .radio-label {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1.5rem;
    font-weight: normal;
}
