/*! 
* Skeleton v2.2.11 | Adopted | https://bigmassa.github.io/skeleton
* ---------------------------------------------------------------
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

@import "skeleton_variables";
@import "skeleton_import";

// Custom Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––


body {
  padding-bottom: 5rem;
}

.page-title {
  margin-top: 5rem;
}

.page-header {
  margin-top: 5rem;
  border-bottom: 1px solid rgb(230, 230, 230);
  margin-bottom: 2.5rem;
}

.example-grid div[class*=col-] div {
  background: rgb(240, 240, 240);
  padding: .5rem;
  margin-bottom: 1rem;
}

.swatch {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 3rem;

  h4 {
      margin: 0;
  }
}