// Helpers
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* clearfix */
.clearfix {
    @include clearfix();
}

/* width */
.full-width {
    width: 100%;
    box-sizing: border-box;
}

.max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

/* floating */
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/* text align */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* list */
.list-style-none {
    list-style: none;
}

/* typography */
.italic {
    font-style: italic;
}

.muted {
    color: lighten($font-color, 40%);
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

/* display */
.hidden {
    display: none;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block
}

.block {
    display: block;
}
