// Helpers
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* generic */
.clearfix {
    @include clearfix;
}

/* width and height */
.full-visual-height {
    height: 100vh;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

/* alignment */
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.push-auto {
    @include push--auto;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/* list */
.list-style-none {
    list-style: none;
}

/* typography */
.italic {
    font-style: italic;
}

.muted {
    color: lighten($font-color, 40%);
}
 
.nowrap { 
    white-space: nowrap; 
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

/* display */
.hidden {
    display: none;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block
}

.block {
    display: block;
}

.scroll-x {
    overflow-x: scroll;
}
