// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

// clearfix
.u-clearfix {
    @include clearfix();
}

// width
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

// floating
.u-pull-left {
    float: left;
}

.u-pull-right {
    float: right;
}

// text align
.u-text-left {
    text-align: left;
}

.u-text-right {
    text-align: right;
}

.u-text-center {
    text-align: center;
}

// style
.u-list-style-none {
    list-style: none;
}

.u-upper {
    text-transform: uppercase;
}

// display
.u-hidden {
    display: none;
}

.u-inline {
    display: inline;
}

.u-block {
    display: block;
}
