// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// The default font family.
// $font-family: "Roboto", sans-serif !default;
$font-family: "Raleway", sans-serif !default;

// The font sizes for h1-h6.
$h1-font-size:        3.6rem !default; 
$h2-font-size:        3rem !default; 
$h3-font-size:        2.4rem !default; 
$h4-font-size:        1.8rem !default; 
$h5-font-size:        1.4rem !default; 
$h6-font-size:        1.2rem !default; 

// Breakpoints
$breakpoints: (
        xs: 0,
        sm: 544px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

// Bootstrap Grid Variables
$enable-grid-classes: true !default;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
) !default;

$grid-columns:               12 !default;
$grid-gutter-width-base:     30px !default;
$grid-gutter-widths: (
        xs: $grid-gutter-width-base,
        sm: $grid-gutter-width-base,
        md: $grid-gutter-width-base,
        lg: $grid-gutter-width-base,
        xl: $grid-gutter-width-base
) !default;

// Colors
$colors: (
        white:          rgb(255, 255, 255),
        black:          rgb(0, 0, 0),
        grey-dark:        rgb(50, 50, 50),
        grey-light:       rgb(250, 250, 250),
        primary:          rgb(51, 195, 240),
        secondary:        rgb(141, 141, 141)
) !default;

$font-color:            rgb(34, 34, 34);
$link-color:              color(primary);
$border-color:          rgb(230, 230, 230);

// buttons name: (background colour) (font colour)
$buttons: (
        primary:        color(primary)      color(white),
        secondary:      color(secondary)    color(white)
) !default;

// Misc
$global-radius: 4px !default;
