// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

// default buttons and inputs
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: $font-color;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: $white;
    border-radius: $global-radius;
    border: 1px solid $border-color;
    cursor: pointer;
    box-sizing: border-box;

    &:hover,
    &:focus {
        color: $font-color;
        border-color: darken($border-color, 5%);
        outline: 0;
    }
}

// button variations
@each $button, $colors in $buttons {
    .button.button-#{$button},
    button.button-#{$button},
    input[type="submit"].button-#{$button},
    input[type="reset"].button-#{$button},
    input[type="button"].button-#{$button} {
        color: nth($colors, 2);
        background-color: nth($colors, 1);
        border-color: darken(nth($colors, 1), 5%);

        &:hover,
        &:focus {
            color: nth($colors, 2);
            background-color: darken(nth($colors, 1), 5%);
            border-color: darken(nth($colors, 1), 5%);
        }
    }
}