// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

textarea,
select {
    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: $global-radius;
    box-shadow: none;
    box-sizing: border-box;
}

// Removes awkward default styles on some inputs for iOS
input {
    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="text"],
    &[type="date"],
    &[type="tel"],
    &[type="url"],
    &[type="password"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input {
    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="text"],
    &[type="date"],
    &[type="tel"],
    &[type="url"],
    &[type="password"] {
        height: 38px;
        padding: 6px 10px;
        background-color: $white;
        border: 1px solid $border-color;
        border-radius: $global-radius;
        box-shadow: none;
        box-sizing: border-box;
        &:focus {
            border: 1px solid $primary-color;
            outline: 0;
        }
    }
}

textarea:focus,
select:focus {
    border: 1px solid $primary-color;
    outline: 0;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input {
    &[type="checkbox"],
    &[type="radio"] {
        display: inline;
    }
}

// Radio and checkboxes
.checkbox-inline,
.radio-inline {
    margin-bottom: 15px;
    label {
        display: inline;
    }
}

label .checkbox-label,
label .radio-label {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1.5rem;
    font-weight: normal;
}

// Disabled
*[disabled],
.disabled {
    cursor: not-allowed;
}
