// Spacing
//––––––––––––––––––––––––––––––––––––––––––––––––––

button,
.button {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}


// spacers (padding & margin)

$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
        '0': (x: 0, y: 0),
        'h': (x: ($spacer-x * 0.5), y: ($spacer-y * 0.5)),
        '1': (x: $spacer-x, y: $spacer-y),
        '1h': (x: ($spacer-x * 1.5), y: ($spacer-y * 1.5)),
        '2': (x: ($spacer-x * 2), y: ($spacer-y * 2)),
        '2h': (x: ($spacer-x * 2.5), y: ($spacer-y * 2.5)),
        '3': (x: ($spacer-x * 3), y: ($spacer-y * 3)),
        '4': (x: ($spacer-x * 4), y: ($spacer-y * 4)),
        '5': (x: ($spacer-x * 5), y: ($spacer-y * 5)),
        '8': (x: ($spacer-x * 8), y: ($spacer-y * 8)),
        '10': (x: ($spacer-x * 10), y: ($spacer-y * 10)),
) !default;

@each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $lengths in $spacers {
        $length-x: map-get($lengths, x);
        $length-y: map-get($lengths, y);

        .#{$abbrev}-#{$size} { #{$prop}: $length-y $length-x !important; }
        .#{$abbrev}t-#{$size} { #{$prop}-top: $length-y !important; }
        .#{$abbrev}r-#{$size} { #{$prop}-right: $length-x !important; }
        .#{$abbrev}b-#{$size} { #{$prop}-bottom: $length-y !important; }
        .#{$abbrev}l-#{$size} { #{$prop}-left: $length-x !important; }

        // Axes
        .#{$abbrev}x-#{$size} {
            #{$prop}-right: $length-x !important;
            #{$prop}-left: $length-x !important;
        }
        .#{$abbrev}y-#{$size} {
            #{$prop}-top: $length-y !important;
            #{$prop}-bottom: $length-y !important;
        }
    }
}
