// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––

table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}

tr {
    display: table-row;
}

th,
td {
    padding: .85rem;
    text-align: left;
    display: table-cell;
}

th[class*=col-],
td[class*=col-] {
    padding: .85rem;
    position: static;
    float: none;
}

td {
    border-top: 1px solid $light-grey;
}
