// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: .85rem;
    text-align: left;
}

th[class*=col-],
td[class*=col-] {
    padding: .85rem;
    position: static;
    float: none;
    width: auto;
}

td {
    border-top: 1px solid $light-grey;
}
